.card {
  margin: 1rem;
}
.liked {
  color: skyblue;
  background: none;
  border: none;
}
.like {
  border: none;
  background: none;
}
.show-comments {
  border: 0.5rem;
  border-radius: 10rem;
}
.text-dark {
  text-decoration: none;
}
